version = 0.1
[default.deploy.parameters]
stack_name = "waf-alb-lambda"
resolve_s3 = true
s3_prefix = "waf-alb-lambda"
region = "ap-northeast-1"
capabilities = "CAPABILITY_IAM"
parameter_overrides = [
    "ApplicationName=waf-alb-lambda",
    "Enviroment=dev",
    "AllowSourceIp=0.0.0.0/0",
    "VpcCIDR=192.168.0.0/24",
    "PublicSubnet1CIDR=192.168.0.0/27",
    "PublicSubnet2CIDR=192.168.0.32/27"
]
image_repositories = []
